html {
  font-family: sans-serif;
}
  
body {
  overflow-x: auto;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  text-transform: none;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: #f6f5f5;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #303030;
}

hr {
  width: 35%;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 12rem 15rem;
  grid-template-areas:
    "nav nav nav nav"
    "title title title title"
    "disc disc email email";
}

.info {
  font-size: 20px;
  position: absolute;
  top: 4.3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.continfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fafafa;
  text-decoration: none;
}

#title {
  grid-area: title;
  font-family: 'Rubik', sans-serif;
  font-size: 43px;
  text-align: center;
}

#discord {
  position: relative;
  grid-area: disc;
  margin: 0.5rem 1rem;
  background-color: #7289da;
  color: #fafafa;
  border-radius: 0.5rem;
}

#email {
  position: relative;
  grid-area: email;
  margin: 0.5rem 1rem;
  background-color: #99aab5;
  color: #fafafa;
  border-radius: 0.5rem;
}

#home {
  margin: 0.6rem 1rem;
  padding: 0.2rem 1.5rem;
  float: left;
  display: inline;
}

#mainnav {
  grid-area: nav;
}

#mainnav ul {
  padding: 1.2rem 1.2rem;
}

#mainnav ul li {
  margin: 0.6rem 1.2rem;
  padding: 0.2rem 1.5rem;
  font-family: 'Rubik', Arial, sans-serif;
  line-height: 1.25em;
  letter-spacing: 2px;
  font-size: 19px;
  font-style: normal;
  list-style-type: none;
  float: right;
  display: inline;
  color: #303030;
}

#mainnav ul li a {
  transition: color 0.25s linear;
}

#mainnav ul li a:hover {
  color: #B8B8B8;
}

@media only screen and (max-width:600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 10rem 15rem 15rem;
    grid-template-areas: 
      "nav"
      "title"
      "disc"
      "email";
  }

  #title {
    font-size: 27px;
  }

  #mainnav ul li{
    margin: 0.3rem 0.2rem;
    padding: 0 0;
    font-size: 15px;
  }

  #mainnav ul {
    margin: 0;
    margin-right: 1.2rem;
  }
}